*.code-workspace
.envrc
.direnv/
.github/workflows/.stamp-*
.history
.pre-commit-config.yaml
.shake/
.stack-work/
.tasty-rerun-log
dist*/
cabal.project.local*
!cabal.project.local.sample
.DS_Store
.vscode
*.bak
result
!result.*
output
!output/
!output.*
